.wrapp{
  position: relative;
  height: 42px;
  margin: 5px 0;
  .input,
  .errorInput {
    width: 100%;
  }
  .input {
    border: 2px solid #8165d4;
  }
  .errorInput{
    border-color: #d465a8;
  }
  .textError{
    position: absolute;
    bottom: 0;
    left: 8px;
    margin: 0;
    color: darkred;
    font-size: 14px;
  }
}



